body {
  font-family: Arial, sans-serif;
  margin: 20px;
  font-size: 30px;
}
h1 {
  color: black;
  font-size: 50px;
  text-align: center;
}

p {
  margin-top: 80px;
}

.Tourner {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.gauche {
  font-size: 40px;
}
.droite {
  font-size: 40px;
  margin-right: 10px;
}
